html{
    scroll-snap-type: y mandatory;
    /* background-color: black; */
}

.app{
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
    /* align-items: center; */

}


.app_videos{
    top: 15px;
    position: relative;
    height: 760px;
    /* width: 90%; */
    border-radius: 50px;
    overflow: scroll;
    scroll-snap-type: y mandatory;


}


.app_videos::-webkit-scrollbar{
    display: none;
}

