.VideoFooter{
    position: relative;
    color: white;
    bottom: 150px;
    /* left: 0; */
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    /* gap: 3rem; */
}

.videoFooter_text{
    flex: 1;
}

.videoFooter_text > p{
    padding-bottom: 20px;
}

.videoFooter_text > h3{
    padding-bottom: 20px;
}


@keyframes spinRecord{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.videoFooter_record{
    animation: spinRecord infinite 5s linear;
    filter: invert(1);
    height: 50px;
    right: 20px;
    position: absolute;
    bottom: 0;
}